.header {
  background: #eee;
}

.header a {
  margin-left: 20px;
}
.quantity-container .quantity-button {
  width: 50px;
  display: inline-block;
}
.product-item {
  margin: 30px 0;
  box-shadow: 10px 10px 5px #ccc;
  border: 1px solid #ccc;
  padding: 10px;
}
#submit {
  margin-bottom: 50px;
  width: 100%;
}
.order-item {
  margin: 30px 0;
}
